
<html lang=“en” xmlns=“http://www.w3.org/1999/xhtml” xmlns:th=“http://www.thymeleaf.org” >
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/dashboardDesign.css">
    <link rel="stylesheet" type="text/css" href="/NeumorphicTable.css">
    <link rel="stylesheet" type="text/css" href="/NeumorphicButton.css">
    <link rel="stylesheet" type="text/css" href="/Submit.css">


</head>
<body>

    <div class="app-container">
        <div class="app-left">

            <div class="app-logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
                    <line x1="18" y1="20" x2="18" y2="10"/>
                    <line x1="12" y1="20" x2="12" y2="4"/>
                    <line x1="6" y1="20" x2="6" y2="14"/>       </svg>
                <span>Manager</span>
            </div>
            <ul class="nav-list">
                <li class="nav-list-item ">
                    <a class="nav-list-link" href="dashboard">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns"><path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"/></svg>
                        Dashboard
                    </a>
                </li>
                <li class="nav-list-item active">
                    <a class="nav-list-link" href="itemEditor">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"/><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"/></svg>
                        İtem Editor
                    </a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-link" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"/><polyline points="13 2 13 9 20 9"/></svg>
                        Applications
                    </a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-link" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M23 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
                        Team
                    </a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-link" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"/><path d="M22 12A10 10 0 0 0 12 2v10z"/></svg>
                        Reports
                    </a>
                </li>
            </ul>
        </div>
        <div class="app-main">



            <h2>Carousel info</h2>
            <table id="carousel-info" class="table table-striped table-bordered text-center">
                <thead>
                <tr>
                    <th>SR. No.</th>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Created date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody th:with="count=0">
                <tr th:each = "imageGallery :${images}">
                    <td th:with="count=${count + 1}" th:text="${count}"></td>
                    <td th:text="${imageGallery.carousel_title}"></td>
                    <td><img th:src="@{${'/image/display/'+ imageGallery.id}}"
                             class="card img-fluid" style="width:300px" alt=""/></td>
                    <td th:text="${imageGallery.carousel_descr}"></td>
                    <td th:text="${#dates.format({imageGallery.createDate}, 'dd-MM-yyyy')}"/></td>
                    <td><a th:href="@{/image/imageDetails(id=${imageGallery.id})}" class="btn btn-info text-right" target="_blank">View</a></td>
                </tr>
                </tbody>
            </table>

        </div>

        <h1> Carousel edit</h1>
        <br><br>
        <div class="contact py-sm-5 py-4">
            <div class="container py-xl-4 py-lg-2">
                <!-- form -->
                <form th:action="@{/saveImageDetails}" method="post" enctype="multipart/form-data">
                    <div class="contact-grids1 w3agile-6">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 contact-form1 form-group">
                                <label class="col-form-label">Name</label>
                                <input type="text" id="carousel_title" name="carousel_title" th:value="${title}" required/> <p id="error_name"></p>
                            </div>
                            <div class="col-md-6 col-sm-6 contact-form1 form-group">
                                <label class="col-form-label">Description</label>
                                <textarea id="description" name="description" th:text="${description}" required></textarea>
                            </div>
                            <div class="col-md-6 col-sm-6 contact-form1 form-group">
                                <label class="col-form-label">Image</label>
                                <input type="file" id="image" name="image" accept="image/*" required/>
                            </div>
                        </div>
                        <div class="right-w3l col-md-6">
                            <input type="submit" value="Save"/>
                            <br><br>
                        </div>
                        <a href="/image/show" style="float:left;" class="btn btn-success text-right">Show All</a>
                    </div>
                    <br>
                    <div id="success" class="text-center" style="color:green;"></div>
                    <div id="error" class="text-center" style="color:red;"></div>

                </form>
                <script src="js/dashboardControl.js"></script>

            </div>
        </div>
        <p class="text-center">
            <img src="/images/loader.gif" alt="loader" style="width: 150px;height: 120px;" id="loader">
        </p>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"> </script>
    <script type = "text/javascript">
        $(document).ready(function() {
            $('#carousel-info').DataTable();
        } );
    </script>



    <script src="js/ImageCarousel.js"></script>

</body>

</html>