

.wrapper {
  box-sizing: border-box;
  background-color: #efe4e4;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
}
.header_grid {
  padding: 30px 60px 0;
  text-align: center;
}
.header__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
}
.header__subtitle {
  margin: 0;
  font-size: 1.5em;
  color: #949fb0;
  font-family: 'Yesteryear', cursive;
  font-weight: 500;
  line-height: 1.1;
}
.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}
.card {
  margin: 15px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card__inner {
  width: 100%;
  padding: 30px;
  position: relative;
  cursor: pointer;
  background-color: #949fb0;
  color: #eceef1;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
