* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
   min-height: 10%;
    border-bottom: 1px solid #E5E5E5;
    background-color: white;
    position: fixed;
    top: 0;
    transition: all 0.25s ease;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;

}
header h1 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #101920;
    margin-left: 185px;
}

@media (max-width: 600px) {
    h1 {
        display: none;
    }
}
nav {
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}



