<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <base href="http://localhost:8080">

    <meta charset="UTF-8">
    <title> Mebel idare</title>


    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="/NeumorphicTable.css">
    <link rel="stylesheet" type="text/css" href="/NeumorphicButton.css">
</head>
<body>

<div class="container">
    <div class="mb-3">
        <input type="file" class="form-control" aria-label="file example" required>
        <div class="invalid-feedback">Example invalid form file feedback</div>
    </div>
    <div id="person_info">
        <h1> Mebel list </h1>
        <a th:href="@{/newCustomer}" class="btn btn-primary btn-sm mb-3"> Müştəri əlavə et </a>
        <a th:href="@{/newProduct}" class="btn btn-primary btn-sm mb-3"> Mebel əlavə et </a>
        <table class = "neumorphic">
            <thead class="table-dark">

            <tr>
                <th style="border: 0px solid black"> İstifadəçi adı</th>
                <th style="border: 0px solid black"> İstifadəçi soyadı </th>
                <th style="border: 0px solid black"> Elektron poçt </th>
                <th style="border: 0px solid black"> Şifrə</th>
                <th style="border: 0px solid black"> Mövqe</th>

                <th style="width: 1000px ">  Dəyişiklik et </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${employees}">
                <td style="border: 0px solid black" th:text="${user.firstname}"> </td>
                <td style="border: 0px solid black" th:text="${user.lastname}"> </td>
                <td style="border: 0px solid black" th:text="${user.email}"> </td>
                <td style="border: 0px solid black" th:text="${user.password}"> </td>
                <td style="border: 0px solid black" th:text="${user.role}"> </td>


       <td> <a th:href="@{/showFormForUpdate/{id}(id=${user.id})}" class="update shape">Düzəliş et</a>

       <a th:href="@{/deleteCustomer/{id}(id=${user.id})}" class="delete shape ">Sil</a></td>


            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>


</html>