<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" >
<html lang="en">
<head>
    <base href="http://localhost:8080">

    <meta charset="UTF-8">
    <title> Mebel idare</title>


    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="/Cardİtem.css">
    <link rel="stylesheet" type="text/css" href="/CardGrid.css">
    <link rel="stylesheet" type="text/css" href="/Carousel.css">
    <link rel="stylesheet" type="text/css" href="/NeumorphicButton.css">
    <link rel="stylesheet" type="text/css" href="/Navbar.css">

</head>
<body>

<header id="header">

    <nav id="nav-bar">
        <ul>
            <li><a class="nav-link" href="#speed">speed</a></li>
            <li><a class="nav-link" href="#display">display</a></li>
            <li><a class="nav-link" href="#camera">camera</a></li>
            <li><a class="nav-link" href="#design">design</a></li>
            <li><a class="nav-link" href="#oxygenos">OxygenOS</a></li>
            <li><a class="nav-link" href="#resistance">resistance</a></li>
            <li><a class="nav-link" href="#headphones">headphones</a></li>
        </ul>
    </nav>
</header>
<main >
    <div class='center-column'>
        <li class='item-carousel' style="background-image: url('https://cdn.mos.cms.futurecdn.net/dP3N4qnEZ4tCTCLq59iysd.jpg')">
            <div class='content-carousel'>
                <h2 class='title-carousel'>"Lossless Youths"</h2>
                <p class='description-carousel'> Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
                    praesentium nisi. Id laboriosam ipsam enim.  </p>
                <button-carousel>Read More</button-carousel>
            </div>
        </li>
        <li class='item-carousel' style="background-image: url('https://i.redd.it/tc0aqpv92pn21.jpg')">
            <div class='content-carousel'>
                <h2 class='title-carousel'>"Estrange Bond"</h2>
                <p class='description-carousel'> Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
                    praesentium nisi. Id laboriosam ipsam enim.  </p>
                <button-carousel>Read More</button-carousel>
            </div>
        </li>
        <li class='item-carousel' style="background-image: url('https://wharferj.files.wordpress.com/2015/11/bio_north.jpg')">
            <div class='content-carousel'>
                <h2 class='title-carousel'>"The Gate Keeper"</h2>
                <p class='description-carousel'> Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
                    praesentium nisi. Id laboriosam ipsam enim.  </p>
                <button-carousel>Read More</button-carousel>
            </div>
        </li>
        <li class='item-carousel' style="background-image: url('https://images7.alphacoders.com/878/878663.jpg')">
            <div class='content-carousel'>
                <h2 class='title-carousel'>"Last Trace Of Us"</h2>
                <p class='description-carousel'>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga voluptatum, iure corporis inventore praesentium nisi. Id laboriosam ipsam enim.
                </p>
                <button-carousel>Read More</button-carousel>
            </div>
        </li>
        <li class='item-carousel' style="background-image: url('https://theawesomer.com/photos/2017/07/simon_stalenhag_the_electric_state_6.jpg')">
            <div class='content-carousel'>
                <h2 class='title-carousel'>"Urban Decay"</h2>
                <p class='description-carousel'>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga voluptatum, iure corporis inventore praesentium nisi. Id laboriosam ipsam enim.
                </p>
                <button-carousel>Read More</button-carousel>
            </div>
        </li>
        <li class='item-carousel' style="background-image: url('https://da.se/app/uploads/2015/09/simon-december1994.jpg')">
            <div class='content-carousel'>
                <h2 class='title-carousel'>"The Migration"</h2>
                <p class='description-carousel'> Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
                    praesentium nisi. Id laboriosam ipsam enim.  </p>
                <button-carousel>Read More</button-carousel>
            </div>
        </li>

    </div>
    <nav class='nav'>
        <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
        <ion-icon class='btn next' name="arrow-forward-outline"></ion-icon>
    </nav>

</main>
<div class="wrapper">

    <div class="header_grid">
        <h1 class="header__title">Expanding Card Grid</h1>
        <h2 class="header__subtitle">with Flexbox</h2>
    </div>

    <div class="cards">

        <figure class="snip1268">
            <div class="image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sq-sample4"/>

                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <figcaption>
                <h2>Denim Shirt</h2>
                <p>My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.</p>
                <div class="price">$65.00 </div>
            </figcaption>
        </figure>
        <figure class="snip1268">
            <div class="image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sq-sample4"/>

                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <figcaption>
                <h2>Denim Shirt</h2>
                <p>My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.</p>
                <div class="price">$65.00 </div>
            </figcaption>
        </figure>
        <figure class="snip1268">
            <div class="image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sq-sample4"/>

                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <figcaption>
                <h2>Denim Shirt</h2>
                <p>My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.</p>
                <div class="price">$65.00 </div>
            </figcaption>
        </figure>
        <figure class="snip1268">
            <div class="image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sq-sample4"/>

                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <figcaption>
                <h2>Denim Shirt</h2>
                <p>My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.</p>
                <div class="price">$65.00 </div>
            </figcaption>
        </figure>
        <figure class="snip1268">
            <div class="image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sq-sample4"/>

                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <figcaption>
                <h2>Denim Shirt</h2>
                <p>My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.</p>
                <div class="price">$65.00 </div>
            </figcaption>
        </figure>
        <figure class="snip1268">
            <div class="image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sq-sample4"/>

                <a href="#" class="add-to-cart">Add to Cart</a>
            </div>
            <figcaption>
                <h2>Denim Shirt</h2>
                <p>My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.</p>
                <div class="price">$65.00 </div>
            </figcaption>
        </figure>

    </div>

</div>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="js/CarouselControl.js"></script>
</body>




</html>