
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link type="text/css" href="/all.min.css" rel="stylesheet">

    <link type="text/css" href="/neumorphism.css" rel="stylesheet">
</head>

<body>
<main>
    <!-- Section -->
    <section class="min-vh-100 d-flex bg-primary align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 justify-content-center">
                    <div class="card bg-primary shadow-soft border-light p-4">
                        <div class="card-header text-center pb-0">
                            <h2 class="h4">Hesaba giriş et</h2>
                        </div>
                        <div class="card-body">
                            <form action="#" class="mt-4">
                                <!-- Form -->
                                <div class="form-group">
                                    <label for="exampleInputIcon3">Elektron ünvan</label>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><img src="/assets/user.png"></span></span>
                                        </div>
                                        <input class="form-control" id="exampleInputIcon3" placeholder="numune@muessise.com" type="text" aria-label="email adress">
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="exampleInputPassword6">Şifrə</label>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="/assets/lock.png"></span></span>

                                            </div>
                                            <input class="form-control" id="exampleInputPassword6" placeholder="Şifrə" type="password" aria-label="Password" required>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-block d-sm-flex justify-content-between align-items-center mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                                            <label class="form-check-label" for="defaultCheck5">
                                                Məni xatırla
                                            </label>
                                        </div>
                                        <div><a href="#" class="small text-right">Şifrəni itirmisən?</a></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-block btn-primary">Giriş et</button>
                            </form>
                            <div class="mt-3 mb-4 text-center">
                                <span class="font-weight-normal">və ya bununla keçid et</span>
                            </div>
                            <div class="btn-wrapper my-4 text-center">
                                <button class="btn btn-primary btn-icon-only text-facebook mr-2" type="button" aria-label="facebook button" title="facebook button">
                                    <span aria-hidden="true" class="fab fa-facebook-f"></span>
                                </button>
                                <button class="btn btn-primary btn-icon-only text-twitter mr-2" type="button" aria-label="twitter button" title="twitter button">
                                    <span aria-hidden="true" class="fab fa-twitter"></span>
                                </button>
                                <button class="btn btn-primary btn-icon-only text-facebook" type="button" aria-label="github button" title="github button">
                                    <span aria-hidden="true" class="fab fa-github"></span>
                                </button>
                            </div>
                            <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                                    <span class="font-weight-normal">
                                        Qeydiyyat yoxdur?
                                        <a href="#" class="font-weight-bold">Hesab yarat</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


</body>

</html>